In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/simple_sales_data.csv')
df

,transaction_id,salesperson,date,product,revenue,units_sold,region
0,1,Alice,2024-01-01,Widget A,100.50,2,North
1,2,Bob,2024-01-01,Widget B,150.75,3,South
2,3,Alice,2024-01-02,Widget A,200.25,4,North
3,4,Charlie,2024-01-02,Widget C,75.80,1,East
4,5,Bob,2024-01-03,Widget B,180.90,3,South
5,6,Alice,2024-01-03,Widget C,220.40,4,West
6,7,Charlie,2024-01-04,Widget A,90.60,2,North
7,8,Bob,2024-01-04,Widget B,160.30,3,South
8,9,Alice,2024-01-05,Widget C,240.70,4,East
9,10,Charlie,2024-01-05,Widget A,110.20,2,West
10,11,Bob,2024-01-06,Widget B,170.85,3,South
11,12,Alice,2024-01-06,Widget C,210.45,4,North
12,13,Charlie,2024-01-07,Widget A,95.35,2,East
13,14,Bob,2024-01-07,Widget B,165.95,3,South
14,15,Alice,2024-01-08,Widget C,230.15,4,West

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  15 non-null     int64
 1   salesperson     15 non-null     object
 2   date            15 non-null     object
 3   product         15 non-null     object
 4   revenue         15 non-null     float64
 5   units_sold      15 non-null     int64
 6   region          15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 972.0+ bytes

       transaction_id     revenue  units_sold
count       15.000000   15.000000   15.000000
mean         8.000000  160.210000    2.933333
std          4.472136   54.790364    0.961150
min          1.000000   75.800000    1.000000
25%          4.500000  105.350000    2.000000
50%          8.000000  165.950000    3.000000
75%         11.500000  205.350000    4.000000
max         15.000000  240.700000    4.000000

In [6]:
print("Total Revenue by Salesperson on Each Date:")
revenue_by_salesperson_date = df.pivot_table(values='revenue', index='date', columns='salesperson', aggfunc='sum', fill_value = 0)
print(revenue_by_salesperson_date)

Total Revenue by Salesperson on Each Date:
salesperson   Alice     Bob  Charlie
date
2024-01-01   100.50  150.75     0.00
2024-01-02   200.25    0.00    75.80
2024-01-03   220.40  180.90     0.00
2024-01-04     0.00  160.30    90.60
2024-01-05   240.70    0.00   110.20
2024-01-06   210.45  170.85     0.00
2024-01-07     0.00  165.95    95.35
2024-01-08   230.15    0.00     0.00

In [8]:
print("Average Revenue per Sale for each Product:")
avg_revenue_per_product = df.groupby('product')['revenue'].mean().round(2)
print(avg_revenue_per_product)

Average Revenue per Sale for each Product:
product
Widget A    119.38
Widget B    165.75
Widget C    195.50
Name: revenue, dtype: float64

In [9]:
print("Maximum Units Sold in Single Transaction by Each Salesperson:")
max_units_by_salesperson = df.groupby('salesperson')['units_sold'].max()
print(max_units_by_salesperson)

Maximum Units Sold in Single Transaction by Each Salesperson:
salesperson
Alice      4
Bob        3
Charlie    2
Name: units_sold, dtype: int64

In [10]:
print("Total Revenue by Region:")
total_revenue = df['revenue'].sum()
print(f'{total_revenue}')
revenue_by_region = df.groupby('region')['revenue'].sum()
print(f'\n{revenue_by_region}')
percentage_by_region = (revenue_by_region / total_revenue * 100).round(2)
print(percentage_by_region)

Total Revenue by Region:
2403.15

region
East     411.85
North    601.80
South    828.75
West     560.75
Name: revenue, dtype: float64
region
East     17.14
North    25.04
South    34.49
West     23.33
Name: revenue, dtype: float64

In [11]:
print("Salesperson with Most Transactions:")
transaction_count = df.groupby('salesperson')['transaction_id'].count()
most_transactions_salesperson = transaction_count.idxmax()
max_transactions = transaction_count.max()
print(f"{most_transactions_salesperson} completed the most Transactions: {max_transactions}")
print("\nFull Transaction count:")
print(transaction_count)

Salesperson with Most Transactions:
Alice completed the most Transactions: 6

Full Transaction count:
salesperson
Alice      6
Bob        5
Charlie    4
Name: transaction_id, dtype: int64

In [12]:
print("Total Revenue and Units Sold by Salesperson for Each Product:")
salesperson_product_summary = df.pivot_table(index='salesperson', columns='product', values=['revenue', 'units_sold'], aggfunc='sum', fill_value=0)
print(salesperson_product_summary)

Total Revenue and Units Sold by Salesperson for Each Product:
             revenue                   units_sold
product     Widget A Widget B Widget C   Widget A Widget B Widget C
salesperson
Alice         300.75     0.00    901.7          6        0       16
Bob             0.00   828.75      0.0          0       15        0
Charlie       296.15     0.00     75.8          6        0        1

In [13]:
print("Total Units Sold in Each Region on Each Date:")
units_by_region_date = df.pivot_table(values='units_sold', index='date', columns='region', aggfunc='sum', fill_value=0)
print(units_by_region_date)

Total Units Sold in Each Region on Each Date:
region      East  North  South  West
date
2024-01-01     0      2      3     0
2024-01-02     1      4      0     0
2024-01-03     0      0      3     4
2024-01-04     0      2      3     0
2024-01-05     4      0      0     2
2024-01-06     0      4      3     0
2024-01-07     2      0      3     0
2024-01-08     0      0      0     4