In [ ]:
#1BM23AI170
#Lab 2

In [8]:
import pandas as pd

df=pd.read_csv('/DtaFrame1.csv')
print(df.head(5))

   Unnamed: 0  ID   Age  Gender   Income       Occupation  Years_Employed  \
0           0   1  25.0    Male  50000.0         Engineer             2.0
1           1   2  37.0  Female  62000.0   Data Scientist             5.0
2           2   3   NaN    Male  45000.0              NaN             3.0
3           3   4  29.0  Female  54000.0  Product Manager             NaN
4           4   5  42.0    Male      NaN            Sales             8.0

   Satisfaction_Level Purchase_History
0                 0.8             High
1                 NaN           Medium
2                 0.6              Low
3                 0.7             High
4                 0.5             High

In [11]:
#prin ting the null values
missing_occ=df['Occupation'].isnull()
missing_sat=df['Satisfaction_Level'].isnull()
missing_occ
missing_sat
print("the missing occupation is",missing_occ.sum())
print("the missing satisfaction level is",missing_sat.sum())

the missing occupation is 3
the missing satisfaction level is 3

In [12]:
filled_df=df.fillna(0)
print(filled_df)


dropped_df=df.dropna()
print(dropped_df)

   Unnamed: 0  ID   Age  Gender    Income       Occupation  Years_Employed  \
0           0   1  25.0    Male   50000.0         Engineer             2.0
1           1   2  37.0  Female   62000.0   Data Scientist             5.0
2           2   3   0.0    Male   45000.0                0             3.0
3           3   4  29.0  Female   54000.0  Product Manager             0.0
4           4   5  42.0    Male       0.0            Sales             8.0
5           5   6  55.0  Female  100000.0        Executive            30.0
6           6   7  23.0    Male   52000.0                0             1.0
7           7   8  29.0  Female   70000.0  Product Manager             6.0
8           8   9   0.0    Male  200000.0                0            13.0
9           9  10  45.0  Female   85000.0        Executive             0.0

   Satisfaction_Level Purchase_History
0                 0.8             High
1                 0.0           Medium
2                 0.6              Low
3                 0.7             High
4                 0.5             High
5                 0.4              Low
6                 0.7             High
7                 0.9              Low
8                 0.0             High
9                 0.0           Medium
   Unnamed: 0  ID   Age  Gender    Income       Occupation  Years_Employed  \
0           0   1  25.0    Male   50000.0         Engineer             2.0
5           5   6  55.0  Female  100000.0        Executive            30.0
7           7   8  29.0  Female   70000.0  Product Manager             6.0

   Satisfaction_Level Purchase_History
0                 0.8             High
5                 0.4              Low
7                 0.9              Low

In [14]:
df['satisfaction_level_binary']=df['Satisfaction_Level'].apply(lambda x:'high' if x>0.5 else 'low')
df

,Unnamed: 0,ID,Age,Gender,Income,Occupation,Years_Employed,Satisfaction_Level,Purchase_History,satisfaction_level_binary
0,0,1,25.0,Male,50000.0,Engineer,2.0,0.8,High,high
1,1,2,37.0,Female,62000.0,Data Scientist,5.0,NaN,Medium,low
2,2,3,NaN,Male,45000.0,NaN,3.0,0.6,Low,high
3,3,4,29.0,Female,54000.0,Product Manager,NaN,0.7,High,high
4,4,5,42.0,Male,NaN,Sales,8.0,0.5,High,low
5,5,6,55.0,Female,100000.0,Executive,30.0,0.4,Low,low
6,6,7,23.0,Male,52000.0,NaN,1.0,0.7,High,high
7,7,8,29.0,Female,70000.0,Product Manager,6.0,0.9,Low,high
8,8,9,NaN,Male,200000.0,NaN,13.0,NaN,High,low
9,9,10,45.0,Female,85000.0,Executive,NaN,NaN,Medium,low

In [16]:
purchase_map={ 'low':0 , 'medium': 1,'high':2}
df['purchase numeric']=df['Purchase_History'].map(purchase_map)
df

,Unnamed: 0,ID,Age,Gender,Income,Occupation,Years_Employed,Satisfaction_Level,Purchase_History,satisfaction_level_binary,purchase numeric
0,0,1,25.0,Male,50000.0,Engineer,2.0,0.8,High,high,NaN
1,1,2,37.0,Female,62000.0,Data Scientist,5.0,NaN,Medium,low,NaN
2,2,3,NaN,Male,45000.0,NaN,3.0,0.6,Low,high,NaN
3,3,4,29.0,Female,54000.0,Product Manager,NaN,0.7,High,high,NaN
4,4,5,42.0,Male,NaN,Sales,8.0,0.5,High,low,NaN
5,5,6,55.0,Female,100000.0,Executive,30.0,0.4,Low,low,NaN
6,6,7,23.0,Male,52000.0,NaN,1.0,0.7,High,high,NaN
7,7,8,29.0,Female,70000.0,Product Manager,6.0,0.9,Low,high,NaN
8,8,9,NaN,Male,200000.0,NaN,13.0,NaN,High,low,NaN
9,9,10,45.0,Female,85000.0,Executive,NaN,NaN,Medium,low,NaN

In [17]:
#iqr
q1=df['Income'].quantile(0.25)

q3=df['Income'].quantile(0.75)

lower_bound=q1-1.5*(q3-q1)
upper_bound=q3+1.5*(q3-q1)


rr=df[(df['Income']>=lower_bound) & (df['Income']<=upper_bound)]
rr

,Unnamed: 0,ID,Age,Gender,Income,Occupation,Years_Employed,Satisfaction_Level,Purchase_History,satisfaction_level_binary,purchase numeric
0,0,1,25.0,Male,50000.0,Engineer,2.0,0.8,High,high,NaN
1,1,2,37.0,Female,62000.0,Data Scientist,5.0,NaN,Medium,low,NaN
2,2,3,NaN,Male,45000.0,NaN,3.0,0.6,Low,high,NaN
3,3,4,29.0,Female,54000.0,Product Manager,NaN,0.7,High,high,NaN
5,5,6,55.0,Female,100000.0,Executive,30.0,0.4,Low,low,NaN
6,6,7,23.0,Male,52000.0,NaN,1.0,0.7,High,high,NaN
7,7,8,29.0,Female,70000.0,Product Manager,6.0,0.9,Low,high,NaN
9,9,10,45.0,Female,85000.0,Executive,NaN,NaN,Medium,low,NaN

In [18]:
yy=df[(df['Income']<lower_bound) | (df['Income']>upper_bound)]
yy

,Unnamed: 0,ID,Age,Gender,Income,Occupation,Years_Employed,Satisfaction_Level,Purchase_History,satisfaction_level_binary,purchase numeric
8,8,9,NaN,Male,200000.0,NaN,13.0,NaN,High,low,NaN

In [21]:
missing_years_employed=df['Years_Employed'].isnull()
missing_years_employed
print("the missing years employed is",missing_years_employed.sum())

df['Years_Employed'].fillna(df['Years_Employed'].mean(),inplace=True)
df

the missing years employed is 2

/tmp/ipython-input-4007544039.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Years_Employed'].fillna(df['Years_Employed'].mean(),inplace=True)

,Unnamed: 0,ID,Age,Gender,Income,Occupation,Years_Employed,Satisfaction_Level,Purchase_History,satisfaction_level_binary,purchase numeric
0,0,1,25.0,Male,50000.0,Engineer,2.0,0.8,High,high,NaN
1,1,2,37.0,Female,62000.0,Data Scientist,5.0,NaN,Medium,low,NaN
2,2,3,NaN,Male,45000.0,NaN,3.0,0.6,Low,high,NaN
3,3,4,29.0,Female,54000.0,Product Manager,8.5,0.7,High,high,NaN
4,4,5,42.0,Male,NaN,Sales,8.0,0.5,High,low,NaN
5,5,6,55.0,Female,100000.0,Executive,30.0,0.4,Low,low,NaN
6,6,7,23.0,Male,52000.0,NaN,1.0,0.7,High,high,NaN
7,7,8,29.0,Female,70000.0,Product Manager,6.0,0.9,Low,high,NaN
8,8,9,NaN,Male,200000.0,NaN,13.0,NaN,High,low,NaN
9,9,10,45.0,Female,85000.0,Executive,8.5,NaN,Medium,low,NaN